/* RESET.less
    
	index -> 	
				reset
				self clearing
				
*/
				
// reset
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, code,
del, dfn, em, img, q, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
margin: 0;
padding: 0;
border: 0;
vertical-align: baseline;
}
body { background: #fff; margin: 0; }
table { border-collapse: collapse; border-spacing: 0; }
blockquote:before, blockquote:after, q:before, q:after { content: ""; }
blockquote, q { quotes: "" ""; }
a img { border: none; }
header, footer, section, aside, article, footer { display: block; }


// clear floats
.group:after {
content: "."; 
display: block; 
height: 0; 
clear: both;
visibility: hidden;
}